@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
         url('/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
         url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #eee;
    font-weight: 300;
}



.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


}


.search input:focus {
    box-shadow: none;
    border: 2px solid #cff4fc;
}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button {

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #0c91ce;

}
