<section class="Rest">
    <p class="lead fw-bolder text-black-50 text-center my-5">إعادة تعيين كلمة مرور جديدة</p>
    <div class="RestForm w-75 m-auto bg-white p-5">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="mx-4 mt-2">
            <div>
                <label for="username">اسم المستخدم</label>
                <input id="username" type="text" class="form-control my-3" formControlName="username">
                <div *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)"
                    class="text-danger">
                    <div *ngIf="f['username'].errors?.['required']">اسم المستخدم مطلوب.</div>
                </div>
            </div>
            <div>
                <label for="newPassword"> كلمة المرورالجديدة</label>
                <input id="newPassword" type="password" class="form-control my-3" formControlName="newPassword">
                <div *ngIf="f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched)"
                    class="text-danger">
                    <div *ngIf="f['newPassword'].errors?.['required']">كلمة المرور مطلوبة.</div>
                    <div *ngIf="f['newPassword'].errors?.['pattern']">كلمة المرور يجب أن تحتوي على 8 أحرف على الأقل
                        وتحتوي على حروف كبيرة وصغيرة وأرقام ورموز خاصة.</div>
                </div>
            </div>
            <button class="btn btn-info" type="submit" [disabled]="resetPasswordForm.invalid"> ارسال</button>
        </form>
        <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
    </div>
</section>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="creatToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto ms-3">تنبيهات</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fs-3 fw-medium">
            {{tosatMessge}}
        </div>
    </div>
</div>